.title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
}

.commonText {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    width: 50%;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.inputBlock {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-around;
    padding: 20px 20px 0 20px;
}

.fieldSection {
  height: 100px;
}

.input {
    padding: 25px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;

        &::placeholder {
            color: rgb(192, 192, 192);
        }

        &:focus::placeholder {
            color: transparent;
        }
  }

  .radioBtn {
    margin-right: 10px;
  }

  .radioBtnLbl {
    display: block;
    width: 550px !important;
    padding: 20px 20px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    width: 100%;
    border: 1px solid white;
    margin: 0 auto 25px auto;
    padding: 5px 10px;

    p {
        font-size: 14px;
        margin-left: 30px;
        margin-top: 0;
        margin-bottom: 15px;
    }
  }

  .allowCheckbox {
    margin-right: 8px;
  }

  .allowOffers {
    display: block;
    width: 550px;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
  }

  .createAccBtn {
    display: block;
    width: 575px;
    border: none;
    border-radius: 5px;
    background-color: #28d2d0;
    padding: 20px 30px;
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: white;
    cursor: pointer;
  }

  .errorMsg {
    color: rgb(255, 0, 157);
    font-weight: 700;
    font-size: 15px;
    margin: 0 0 0 8px;
  }