.form {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    color: white;
}

.fieldSection {
    height: 100px;
}

.input {
    width: 90%;
    padding: 25px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;

        &::placeholder {
            color: rgb(192, 192, 192);
        }

        &:focus::placeholder {
            color: transparent;
        }
}

.showPasswordIcon {
    position: relative;
    bottom: 78px;
    left: 438px;
    width: 35px;
    height: 30px;
    margin-bottom: -30px;
}

.loginBtn {
    border: none;
    border-radius: 5px;
    background-color: #28d2d0;
    padding: 20px 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

.errorMsg {
    color: rgb(255, 0, 157);
    font-weight: 700;
    font-size: 15px;
    margin: 0 0 0 8px;
}
