.title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.form {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    color: white;
  }
  
  .input {
    width: 90%;
    padding: 25px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 15px 0;

        &::placeholder {
            color: rgb(192, 192, 192);
        }

        &:focus::placeholder {
            color: transparent;
        }
  }

  .passwordBlock {
    margin-bottom: -25px;
    padding: 0;
    width: 100%;

    img {
      position: relative;
      bottom: 63px;
      left: 438px;
      width: 35px;
      height: 30px;
    }
  }

  .loginBtn {
    border: none;
    border-radius: 5px;
    background-color: #28d2d0;
    padding: 20px 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: white;
    cursor: pointer;
  }