.inputBlock {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-around;
    padding: 20px 20px 0 20px;
}

.allowCheckbox {
    margin-right: 8px;
}

.allowOffers {
    display: block;
    width: 550px;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.createAccBtn {
    display: block;
    width: 575px;
    border: none;
    border-radius: 5px;
    background-color: #28d2d0;
    padding: 20px 30px;
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}